:root {
    --color-one: #fff;
    --color-two: #666;
    --color-three: rgb(248, 88, 88);
    --color-four: rgb(56, 184, 56);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* NAVBAR */

.nav-item {
    color: #000;
    font-weight: 600;
}

.navbar-brand {
    color: #000;
    font-size: 2rem;
    font-weight: 800;
}

/* CAROUSEL */

.carousel .item {
    height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.btn-color {
    background: #000;
    color: #fff;
}

.btn-color:hover {
    color: #fff;
}

/* Wobble Vertical */

@-webkit-keyframes slide-btn {
    16.65% {
        transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-btn {
    16.65% {
        transform: translateY(8px);
    }
    33.3% {
        transform: translateY(-6px);
    }
    49.95% {
        transform: translateY(4px);
    }
    66.6% {
        transform: translateY(-2px);
    }
    83.25% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(0);
    }
}

.slide-btn {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.slide-btn:hover, .slide-btn:focus, .slide-btn:active {
    animation-name: slide-btn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

/* SECTION */

.collection span {
    color: var(--color-three);
    font-size: 2rem;
    font-weight: 800;
    padding-left: 5px;
}

.card {
    border: none;
}

.collection input {
    position: absolute;
    height: 3rem;
    width: 8rem;
    background-color: var(--color-three);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    top: 50%;
    left: 30%;
    opacity: 0;
}

.collection .card:hover input {
    opacity: 1;
}

.collection input:hover {
    background-color: var(--color-four);
    transition: 0.5s;
}

.parallex {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/shirt5.jpg")no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
}

.parallex h1 {
    font-size: 4rem;
    font-weight: 700;
}

.parallex p {
    font-size: 2rem;
}

.btn2 {
    height: 3rem;
    width: 8rem;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    ;
}

/* SECTION 5 */

.scroller {
    background-color: var(--color-three);
}